language: ruby
rvm:
  - 2.5
  - 2.7
  - 3.0
  - jruby-9.2.16.0
script: bundle exec rspec spec

gemfile:
  - gemfiles/Gemfile.activerecord-6.0.x
  - gemfiles/Gemfile.activerecord-6.1.x
  - gemfiles/Gemfile.basic

matrix:
  exclude:
    - rvm: jruby
      gemfile: gemfiles/Gemfile.activerecord-4.2.x
